<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Sign up for free</h2>

  <div
    class="form-control"
    [class.invalid]="isUsernameInvalid"
  >
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">
    <div
      class="validation"
      *ngIf="isUsernameInvalid"
    >
      <small *ngIf="form.get('username').errors?.required">
        Username can`t be empty
      </small><small *ngIf="form.get('username').errors?.invalidUsername">
        Invalid username
      </small>
    </div>

  </div>

  <div
    class="form-control"
    [class.invalid]="isEmailInvalid"
  >
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div
      class="validation"
      *ngIf="isEmailInvalid"
    >
      <small *ngIf="form.get('email').errors.required">
        Email can`t be empty
      </small>
      <small *ngIf="form.get('email').errors.email">
        Invalid email
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [class.invalid]="isPasswordInvalid"
  >
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div
      class="validation"
      *ngIf="isPasswordInvalid"
    >
      <small *ngIf="form.get('password').errors.required">
        Password can`t be empty
      </small>
      <small *ngIf="form.get('password').errors.invalidPass">
        Invalid password. (5+ symbols, [aA4!]
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Sign up</button>

</form>



